#footer {
  background-color: #228B22;

  .row {
    align-items: center;

    p {
      font-weight: 600;
      margin: 0;
    }

    a {
      font-size: 2rem;
      text-decoration: none;
      color: #000;
    }

    div {
      &:first-child { margin-bottom: 5px; }
    }
  }
}